@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">App Vendas</h1>
    <h5>
        Essa aplicação se trata de um CRUD de vendas utilizando o <strong>ASP .NET Core 6.0</strong> com o modelo de camadas MVC.
    <h5>
    <p>
        O projeto conta com entidades de Departamento, Vendedor e vendas, com os dados armazenados no banco de dados <strong>Mysql</strong>, que é acessado pelo <strong>Entity Framework</strong>. Sendo um CRUD bem simples, o intuito do projeto é iniciar meus estudos com ASP Net, e colocar em pratica o conhecimento adquirido com a linguagem C# e os principios SOLID. 
    </p>
    <p>
        <strong>Obs:</strong> As Vendas estão registradas entre 07/2022 e 08/2022
    </p>
</div>

